<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    |<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <h1>Lista productos</h1>
        <label for="">Id</label>
        <input id="idFilter" type="text" class="form-control" onchange="getFindByIdProduct()">
        <button class="btn btn-success" onclick="getAllProducts()">Consultar</button>
        <!-- <p id="Result"></p> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="container">

            </tbody>
        </table>
    </div>
    <script src="/Fronted/js/const.js"></script>
    <script src="/Fronted/js/utils.js"></script>
    <script src="/Fronted/js/api.js"></script>
    <script src="/Fronted/js/products.js"></script>
</body>
</html>